:root {
  // general
  --title_red: #790000;
  --background_color: #202020;
  --background_color_mob: var(--wrap_bg_color);
  // wrapper
  --wrap_bg_color: #303030;
  --wrap_color: #fafafa;

  // paper land recent submissions
  --unseen-paper-bg: #404040;
  --unseen-border-color: #656565;
  --unseen-hover-bg: #033464;
  --seen-hover-bg: #033464;

  // menu
  --border_curv: 10px;
  --menu_width: 200px;
  // menu colors
  --menu_content_bg: var(--wrap_bg_color);
  --menu_title_color: var(--wrap_color);
  --menu_item_color: #aaa;
  --menu_item_hover_color: #fff;
  --bm-item-color: #ddd;
  --bm-item-hover-color: #fff;

  --navlink-bg-color: #505050;
  --navlink-color: #c3c3c3;
  --navlink-color-hover: #e3e3e3;
  --navlink-bg-hover: #3a3a3a;
  --navlink-color-active: #f0f0f0;

  // paper
  --doi-label-color: #1d1d1d;
  --doi-label-bg: #e6e6e6;
  --doi-number-color: #0066d4;
  --doi-number-bg: #1f1e1e;
  // tag color
  --tag_panel_color: #000;
  --tag_border_color: #f00;

  // buttons
  --btn-primary-bg-color: #004bcf;
  --btn-primary-border-color: #004bcf;
  --btn-primary-color: #fafafa;

  --btn-primary-bg-color-hover: #0039a9;
  --btn-primary-border-color-hover: #00329c;
  --btn-primary-color-hover: #fff;

  // sorting selector at the top of paper page
  --selector-bg: #5a5a5a;
  --selector-color: #fafafa;

  // pagination
  --pagination-bg: #212121;
  --pagination-color: #0059ff;
  --pagination-border: #555555;

  --pagination-bg-hover: #04245d;
  --pagination-color-hover: #a3c3ff;
  --pagination-border-hover: #555555;

  --pagination-bg-active: #03348a;
  --pagination-color-active: #fff;
  --pagination-border-active: #555555;

  --pagination-na-bg: #212121;
  --pagination-na-color: #837f7f;

  --popup-bg: var(--wrap_bg_color);
  --popup-border: #fff;
  --popup-font: #fff;
}
