__pycache__
*egg-info
*.ipynb
draft/*
arXivTag
app/frontend/.webassets-cache/*
app/static/dist/js/*.js
app/static/dist/css/*.css
varxiv/*
.idea/*
*.pyc
cert/*
cert2/*
.coverage
coverage.xml
*.log
.vscode/*
data/*
HELP/*
app/frontend/src/node_modules/*
/app/frontend/dist/*