__pycache__
*egg-info
*.ipynb
draft/*
arXivTag
app/static/.webassets-cache/*
app/static/dist/js/*.js
app/static/dist/css/*.css
varxiv/*
.idea/*
*.pyc
cert/*
cert2/*
.coverage
coverage.xml
*.log
.vscode/*