__pycache__
*egg-info
*.ipynb
draft/*
arXivTag
app/frontend/.webassets-cache/*
app/frontend/dist/js/*
app/frontend/dist/js_cov/
app/frontend/dist/js/*.map
app/frontend/dist/css/*
varxiv/*
.idea/*
*.pyc
cert/*
cert2/*
.coverage
coverage.xml
*.log
.vscode/*
data/*
HELP/*
app/frontend/src/node_modules/*