<!DOCTYPE html>
<html>
<head>
  <title>arXive tagger</title>
  <link rel="stylesheet" type="text/css" href="static/css/header.css">
  <link rel="stylesheet" type="text/css" href="static/css/menu.css">
  <link rel="stylesheet" type="text/css" href="static/css/paper_list.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  {% if parse_TeX %}
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          displayMath: [['$$', '$$'], ['\\[', '\\]']],
        },
        svg: {
          fontCache: 'global'
        }
      };
    </script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  {% endif %}
</head>
<body>
  <div id="header">
    <a id="page-title" href="/">arXiv tagger</a>
    <div id="latex-sel-block">
    LaTeX:
    <input type="radio" class="latex-rad" name="tex" value="on">
    <label for="on">On</label><br/>
    <input type="radio" class="latex-rad" name="tex" value="off" style="margin-left: 58px">
    <label for="off">Off</label>
  </div>
  </div>

  <div id="menu">
    <div class="menu-title" style="margin-top: 5px">Date:</div>
    <div class="menu-item"><a href="/?date=today">Today</a></div>
    <div class="menu-item"><a href="/?date=week">This week</a></div>
    <div class="menu-item"><a href="/?date=month">This month</a></div>
    <br/>
    <div class="menu-item"><a href="/?date=last">Since last visit<br/>{{last_visit}}</a></div>
<!--
    <div class="menu-item"><a href="/month">Select date</a></div>
    <div class="menu-item"><a href="/month">Select range</a></div> -->
    <div class="menu-title" id="cats-title">Categories</div>
    <div id="cats">
      {{categories}}
      <div class="menu-item">
        <div class="menu-line-left sub-item" id="add-cat">Add</div>
        <div class="menu-line-right sub-item" id="rm-cat">Remove</div>
      </div>
    </div>
    <div class="menu-title">Novelty</div>
    <div class="menu-item">
      <input type="checkbox" id="check-nov-0" class="check-nov" checked/>
      <div id="nov-0" class="menu-line-left item-nov">New</div>
      <div class="menu-line-right" id="nov-count-0">0</div>
    </div>
    <div class="menu-item">
      <input type="checkbox" id="check-nov-1" class="check-nov" checked/>
      <div id="nov-1" class="menu-line-left item-nov">Cross-list</div>
      <div class="menu-line-right" id="nov-count-1">0</div>
    </div>
    <div class="menu-item">
      <input type="checkbox" id="check-nov-2" class="check-nov" checked/>
      <div id="nov-2" class="menu-line-left item-nov">Updated</div>
      <div class="menu-line-right" id="nov-count-2">0</div>
    </div>
    <div class="menu-title">Tags:</div>
      {{tags}}
      <div class="tag-label" id="add-tag">+</div>
      <div class="menu-line-right sub-item" id="edit-tag" style="">Edit</div>
  </div>

  <div id="paper-bg">
    <div id="paper-list">
      <div class="paper-list-title">
        {% if title %}
          {{title}}
        {% endif %}
      </div>
      <div id="sort-block">
        <span id="passed" style="float: left;">0</span>
        <span style="float: left;">&nbsp;results</span>
        <span style="margin-left: 30px; float: left;">Sort by</span>
        <select id="sort-sel" style="margin-left: 5px; width: 100px; float: left;">
          <option value="tag-as">tag (first)</option>
          <option value="tag-des">tag (last)</option>
          <option value="date-as">date (recent)</option>
          <option value="date-des">date (old)</option>
        </select>
        <span id="sorting-proc" style="float: left;">Sorting...</span>
      </div>
      <div id="paper-list-content">
        <div id="load_papers">Loading papers</div>
      </div>
      <div id="no-paper" style="display: none">No papers suitable with your request.</div>
    </div>
  </div>

  <div class="popup" id="add-cat-pop">
    <div class="popup-content">
      <div class="popup-header">Add new category</div>
      <div class="popup-body">
          <label>Enter category code:</label></br>
          <input type="text" id="cat-name" placeholder="e.g. hep-ex">
          <p>Consult with categories at <a href="https://arxiv.org/archive/" target="_blank">arXiv</a></p>
          <p>Use exact categories e.g. "physics.ins-det" as "physics" will return an error</p>
          <div style="color: #f00" class="cat-alert"></div>
          <button class="btn btn-primary btn-cancel" type="reset" value="Cancel">Cancel</button>
          <button class="btn btn-primary" id="btn-add-cat">Add</button>
      </div>
    </div>
  </div>

  <div class="popup" id="rm-cat-pop">
    <div class="popup-content">
      <div class="popup-header">Remove category</div>
      <div class="popup-body">
        <form action="/rm_cat">
          <label>Choose a category to remove:</label></br>
          <select style="font-size: 1.1rem" id="rm-cat-select" name="fcat">
          </select>
          </br><br/>
          <button class="btn btn-primary btn-cancel" type="reset" value="Cancel">Cancel</button>
          <button class="btn btn-primary btn-delete" id="btn-rm-cat" type="submit">Delete</button>
        </form>
      </div>
    </div>
  </div>

  <div class="popup" id="add-tag-pop" style="padding-top: 80px">
    <div class="popup-content">
      <div class="popup-header">Add new tag</div>
      <div class="popup-body">
        <form name="add-tag" action="/add_tag" onsubmit="return validateTagForm('add')">
          <label>Enter tag name:</label></br>
          <input type="text" name="tag_name" placeholder="e.g. LHC-ex"><br/>
          <label>Enter tag rule</label><br/>
          <input type="text" name='tag_rule' placeholder="e.g. abs{LHC}&au{ATLAS|LHCb|ALICE|CMS}" size = 50><br/>
          <div style="font-size: 1rem">
            <p>The followign syntax rules or their combinations should be used:<br/>
            ti{breakthrough} - for papers with "breakthrough" in title<br/>
            abs{awesome} - for papers with "awesome" in abstract<br/>
            au{John Doe} - for papers with "John Doe" in author list</p>
            <p>Logic operators & and | can be placed inside and outside curly brackets. Regular expressions can be used inside curly brackets. $\\LaTeX$ is supported.</p>
            <p>Example: abs{neutrino are awesome}&ti{neutrino|\\nu}&(ti{breakthrough}|au{Einstein|Abe})</p>
          </div>
          <label>Enter tag color</label><br/>
          <input type="text" name="tag_color" placeholder="#ff0000"><br/>
          <label>Enter tag order</label><br/>
          <input type="text" name="tag_order" placeholder="e.g. 1"><br/><br/>
          <div style="color: #f00" class="cat-alert"></div>
          <button class="btn btn-primary btn-cancel" type="reset" value="Cancel">Cancel</button>
          <button class="btn btn-primary" id="btn-add-tag" type="submit">Add</button>
        </form>
      </div>
    </div>
  </div>

  <div class="popup" id="edit-tag-pop" style="padding-top: 80px">
    <div class="popup-content">
      <div class="popup-header">Edit tag</div>
      <div class="popup-body">
        <form name="edit-tag" action="/edit_tag" onsubmit="return validateTagForm('edit')">
          <label>Select tag to edit</label><br/>
          <select style="font-size: 1.1rem" id="edit-tag-select" name="ftag_id">
          </select><br/><br/>
          <label>Tag name:</label></br>
          <input type="text" name='tag_name' placeholder="CERN"><br/>
          <label>Tag rule:</label></br>
          <input type="text" name='tag_rule' placeholder="e.g. abs{LHC}&au{ATLAS|LHCb|ALICE|CMS}" size = 50><br/>
          <div style="font-size: 1rem">
            <p>The followign syntax rules or their combinations should be used:<br/>
            ti{breakthrough} - for papers with "breakthrough" in title<br/>
            abs{awesome} - for papers with "awesome" in abstract<br/>
            au{John Doe} - for papers with "John Doe" in author list</p>
            <p>Logic operators & and | can be placed inside and outside curly brackets. Regular expressions can be used inside curly brackets. $\\LaTeX$ is supported.</p>
            <p>Example: abs{neutrino are awesome}&ti{neutrino|\\nu}&(ti{breakthrough}|au{Einstein|Abe})</p>
          </div>
          <label>Tag color</label><br/>
          <input type="text" name='tag_color' placeholder="#ff0000"><br/>
          <label>Tag order</label><br/>
          <input type="text" name='tag_order' placeholder="e.g. 1"><br/><br/>
          <div style="color: #f00" class="cat-alert"></div>
          <button class="btn btn-primary btn-cancel" type="reset" value="Cancel">Cancel</button>
          <button class="btn btn-primary" id="btn-save-tag" name="action" type="submit" value="update">Save</button>
          <button class="btn btn-primary btn-delete" id="btn-rm-tag" name="action" type="submit" value="delete">Delete</button>
        </form>
      </div>
    </div>
  </div>

  <!-- <script type="text/javascript">'var parseTex = '{{'true;' if parse_TeX else 'false;'}}</script> -->
  <script type="text/javascript">
    var loadData = true;
    {% if not parse_TeX %}
      var parseTex = false;
    {% else %}
      var parseTex = true;
    {% endif %}
  </script>
  <script type="text/javascript" src="static/js/script.js"> </script>
</body>
</html>