/* ---------- General ---------- */

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  background-color: var(--background_color_mob);
}

@media (min-width: 768px) {
  body {
    background-color: var(--background_color);
  }
}

.main-row {
  background-color: var(--background_color);
}

/* ---------- Navbar ---------- */
.navbar {
  background-color: var(--title_red);
}

.nav-link {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.page-title {
  color: #fff;
  font-size: 1.6rem;
  font-family: 'Lucida Grande', helvetica, arial, verdana, sans-serif;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;

  & a {
    color: #fff;
  }

  &:hover {
    color: #fff;
  }
}

.login-block {
  position: absolute;
  right: 50px;
  top: 10px;
  z-index: 1;
}

#chi {
  display: inline;
  position: relative;
  top: -6px;
}

.top-alert {
  position: fixed;
  top: 70;
  left: 0;
  width: 100%;
  z-index: 999;
}

/* ------ Bootstrap redefinition --- */
.btn-primary {
  color: var(--btn-primary-color);
  background-color: var(--btn-primary-bg-color);
  border-color: var(--btn-primary-border-color);

  &:hover,
  &:focus {
    color: var(--btn-primary-color-hover) !important;
    background-color: var(--btn-primary-bg-color-hover) !important;
    border-color: var(--btn-primary-border-color-hover) !important;
  }
}


.nav-pills .nav-link {
  color: var(--navlink-color);
}

.nav-pills .nav-link:hover {
  color: var(--navlink-color-hover);
  background-color: var(--navlink-bg-hover);
}

.nav-pills .nav-link.active {
  background-color: var(--navlink-bg-color) !important;
  color: var(--navlink-color-active) !important;
}

/* ---------- Menu ---------- */

.menu-content {
  background-color: var(--menu_content_bg);
  padding: 0.5rem 1rem 2rem 1rem;
  border-radius: var(--border_curv);
  width: var(--menu_width);
}

.counter {
  color: #aaa;
}

.menu-title {
  font-size: 1.5rem;
  color: var(--menu_title_color);
  margin: 20px 0 5px 0;
}

.menu-item {
  label,
  a,
  input {
    cursor: pointer;
    text-decoration: none;
    color: var(--menu_item_color);

    &:hover {
      color: var(--menu_item_hover_color);
    }
  }
}

.menu-item-bm {
  a {
    font-size: 1.2rem;
    color: var(--bm-item-color);
    text-decoration: none;

    &:hover {
      color: var(--bm-item-hover-color);
    }
  }
}

/* ---------- Main conent block ---------- */

.paper-wrapper {
  border-radius: var(--border_curv);
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  font-size: 1.2rem;
  background-color: var(--wrap_bg_color);
  color: var(--wrap_color);
  overflow: hidden;
}

.footer {
  color: var(--menu_item_color);
  text-align: center;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

#feedback {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 250px;
  margin-left: -3px;
  margin-bottom: -3px;
}

#feedback-form {
  float: left;
  width: 300px;
  height: 100%;
  z-index: 1000;
  padding-left: 5px;
  padding-right: 10px;
  background-clip: 'padding-box';
  border: 1px solid rgba(0, 0, 0, 0.2);
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#feedback-tab {
  float: right;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  width: 120px;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 60px;
  margin-left: -42px;
  padding-top: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#feedback-tab:hover { background-color: rgba(0 , 0, 0, 0.4); }

#feedback-form textarea { resize: none; }

@media (max-width: 768px) {
  #feedback-tab {
    display: none;
  }
}


