/* ----------tags------------- */
.tag-label {
  background-color: #aaa;
  color: #000;
  width: 110px;
  margin: 2px 0;
  padding: 5px;
  border: 4px solid transparent;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}

/* ----------Papers ---------- */

#paper-list-title {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1rem;
}

.paper {
  clear: both;
  font-size: 1rem;
}

#sort-block {
  display: block;
  color: #aaa;
  font-size: 1rem;
  padding: 15px 0 0 15px;
}

#sort-label {
  line-height: 30px;
}

#sort-sel {
  margin-left: 5px;
  width: 150px;
  display: inline;
  color: var(--selector-color);
  background-color: var(--selector-bg);
}

// for mobile
// remove paddings and gray BG
@media (min-width: 768px) {
  .paper-wrapper {
    padding: 0.5rem 1rem 1rem 1rem;
  }

  .paper {
    padding: 7px 0 7px 20px;
  }
}

@media (max-width: 767.98px) {
  .paper-wrapper {
    padding: 0;
  }

  .paper {
    padding: 7px 0 7px 0;
  }
}

.paper-title {
  font-size: 1.2rem;
  margin-bottom: 8px;
  font-weight: bold;
}

.tag-panel {
  overflow: hidden;
  margin-left: 10px;
  margin-bottom: 5px;
}

.tag-panel-item {
  float: left;
  margin: 5px 5px;
  padding: 0 5px;
  border-radius: 10px;
  text-align: center;
  color: var(--tag_panel_color);
}

.paper-au {
  clear: both;
  margin: 5px 0 0 0;
}

.paper-cat {
  margin-bottom: 8px;
}

.paper-date {
  margin: 0;
  color: #666;
  display: inline;
  padding-right: 20px;
}

.ref {
  display: inline-block;
}

.paper-doi {
  display: inline;
  font-size: 0.85rem;
  padding: 2px;
  border-radius: 4px;
}

.dark {
  color: var(--doi-label-color);
  background-color: var(--doi-label-bg);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.light {
  color: var(--doi-number-color);
  background-color: var(--doi-number-bg);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding-left: 10px;

  & a {
    text-decoration: none;
    color: var(--doi-number-color);
  }
}

.paper-abs {
  padding-top: 0.5rem;
}

.paper-footer {
  display: none;
  text-align: center;
  font-size: 1.4rem;
  color: #888;
  margin-top: 50px;
}

#loading-papers {
  display: block;
}

.pagination > li > a {
  background-color: var(--pagination-bg);
  color: var(--pagination-color);
  border-color: var(--pagination-border);
}

.pagination > .disabled > a {
  color: var(--pagination-na-color) !important;
  background-color: var(--pagination-na-bg) !important;
  border-color: var(--pagination-border) !important;
}

.pagination > .disabled > a:hover {
  background-color: var(--pagination-na-bg) !important;
}

#lists-popup-wrap {
  width: auto;
  display: inline-block;
  position: absolute;
}

#lists-popup {
  // position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: var(--popup-bg);
  border-color: var(--popup-border);
  color: var(--popup-font);
  border-style: none;
  border-width: 2px;
  display: inline-block;
  overflow: hidden;
  // prevent new text line
  white-space: nowrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.no-width {
  width: 0%;
  transition: width 0.2s ease-in-out;
}

.full-width {
  width: 100%;
}

.list-name {
  font-size: 1rem;
  padding: 0.2rem 2rem;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: var(--unseen-hover-bg);
  }
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: var(--pagination-color-hover);
  background-color: var(--pagination-bg-hover) !important;
  border-color: var(--pagination-border-hover) !important;
}

.pagination > .active > a {
  color: var(--pagination-color-active) !important;
  background-color: var(--pagination-bg-active) !important;
  border: solid 1px var(--pagination-border-active) !important;
}

.pagination > .active > a:hover {
  background-color: var(--btn-primary-bg-color-hover) !important;
  border: solid 1px var(--pagination-border-active) !important;
}
