@import 'vars.less';

/* ------ Menu SS ------- */

#menu {
  width: 200px;
  position: absolute;
  border-radius: @border_curv;
  z-index: 1;
  top: @menu_top;
  left: @menu_left;
  padding: 0 0 10px 10px;
  background-color: #fff;
  overflow-x: hidden;
}

.menu-title {
  font-size: 1.5rem;
  color: #000;
  margin: 20px 0 5px 0;
}

.menu-item {
  color: #666;
  clear: both;
  overflow: hidden;
  margin: 3px 0 0 10px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  a {
    text-decoration: none;
    color: #666;
  }
  &:hover a:hover {
    color: #000;
  }
}

.menu-line-left {
  float: left;
  margin-left: 3px;
  cursor: pointer;
}

.menu-line-left:hover {
  color: #000;
}

.menu-line-right {
  float: right;
  margin-right: 10px;
  opacity: 0.4;
}

input[type=checkbox] {
  float: left;
  transform: scale(1.15);
  &:hover {
    -o-box-shadow: inset 0 0 2px 2px #286090;
    -moz-box-shadow: inset 0 0 2px 2px #286090;
    -webkit-box-shadow: inset 0 0 2px 2px #286090;
  }
}

.sub-item {
  font-size: 1rem;
  font-style: italic;
  opacity: 50%;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    opacity: 100%;
    color: #000;
  }
}

/* ----------tags------------- */
.tag-label {
  background-color: #aaa;
  color: #000;
  width: 90px;
  margin: 5px 0 5px 10px;
  padding: 5px 5px 5px 5px;
  border-radius: 20px;
  text-align: center;
}

#paper-list {
  border-radius: @border_curv;
  position: static;
  margin: @menu_top 30px 0 240px;
  padding: 15px;
  font-size: 1.2rem;
  background-color: #fff;
  overflow: hidden;
}

#paper-list-title {
  font-size: 1.4rem;
  text-align: center;
  text-decoration: underline;
}

/* ----------Papers ---------- */

.paper {
  clear: both;
  padding: 15px 0 0 20px;
  font-size: 1rem;
}

.paper-title {
  font-size: 1.2rem;
  margin-bottom: 8px;
  font-weight: bold;
}

.tag-panel {
  overflow: hidden;
  margin: 0 0 0 5px;
}

.tag-panel-item {
  float: left;
  margin: 0 5px 0 5px;
  padding: 0 5px 0 5px;
  font-size: 1rem;
  border-radius: 10px;
  text-align: center;
}

.paper-au {
  clear: both;
  margin: 5px 0 3px 0;
}

.paper-cat {
  margin-bottom: 8px;
}

.paper-date {
  margin: 3px 0 3px 0;
  color: #666;
}

.paper-doi {
  display: inline;
  border-radius: 4px;
  color: #f5f5f5;
  background-color: #2d2d2d;
  font-size: 0.85rem;
  padding: 2px 0 2px 8px;
  margin-left: 15px;
  text-decoration: none;

  & .label {
    padding: 2px 10px;
    color: #2d2d2d;
    background-color: #f5f5f5;
  }
}

.paper-abs {
  display: none;
}

.btn-panel {
  clear: both;
  display: flex;
  margin-bottom: 5px;
}

.btn-paper {
  color: #fff;
  font-weight: 400;
  background-color: #337ab7;
  border-color: #2e6da4;
  margin-left: 5px;
  text-decoration: none;
  &:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
  }
}
