:root {
  // general
  --title_red: #b31b1b;
  --background_color: #f0f2f5;
  --background_color_mob: #fff;
  // wrapper
  --wrap_bg_color: #fff;
  --wrap_color: #000;
  --unseen-paper-bg: #e3ecf3;
  --unseen-border-color: #c1c1c1;
  --unseen-hover-bg: #c9e0f3;
  --seen-hover-bg: #eee;

  // menu
  --border_curv: 10px;
  --menu_width: 200px;
  // menu colors
  --menu_content_bg: #fff;
  --menu_title_color: var(--wrap_color);
  --menu_item_color: #666;
  --menu_item_hover_color: #222;
  --bm-item-color: #444;
  --bm-item-hover-color: #000;

  --navlink-bg-color: #007bff;
  --navlink-color: #007bff;
  --navlink-color-hover: #0056b3;
  --navlink-bg-hover: #fff;
  --navlink-color-active: #fff;

  // paper
  --doi-label-color: #f5f5f5;
  --doi-label-bg: #2d2d2d;
  --doi-number-color: #000;
  --doi-number-bg: #f5f5f5;
  // tag color
  --tag_panel_color: #000;
  --tag_border_color: #000;

  // buttons
  --btn-primary-bg-color: #007bff;
  --btn-primary-border-color: #007bff;
  --btn-primary-color: #fff;

  --btn-primary-bg-color-hover: #0069d9;
  --btn-primary-border-color-hover: #0062cc;
  --btn-primary-color-hover: #fff;

  // sorting selector at the top of paper page
  --selector-bg: #fff;
  --selector-color: #495057;

  // pagination
  --pagination-bg: #fff;
  --pagination-color: #007bff;
  --pagination-border: #dee2e6;

  --pagination-bg-hover: #e9ecef;
  --pagination-color-hover: #0056b3;
  --pagination-border-hover: #dee2e6;

  --pagination-bg-active: #007bff;
  --pagination-color-active: #fff;
  --pagination-border-active: #007bff;

  --pagination-na-bg: #fff;
  --pagination-na-color: #6c757d;
}
