:root {
  // general
  --title_red: #790000;
  --background_color: #202020;
  --background_color_mob: var(--wrap_bg_color);
  // wrapper
  --wrap_bg_color: #303030;
  --wrap_color: #fafafa;
  --unseen-paper-bg: #404040;
  // menu
  --border_curv: 10px;
  --menu_width: 200px;
  // menu colors
  --menu_content_bg: var(--wrap_bg_color);
  --menu_title_color: var(--wrap_color);
  // menu colors
  --menu_item_color: #aaa;
  --menu_item_hover_color: #fff;
  --bm-item-color: #ddd;
  --bm-item-hover-color: #fff;

  --navlink-bg-color: #004bcf;
  // tag color
  --tag_panel_color: #000;
  --tag_border_color: #f00;

  // buttons
  --btn-primary-bg-color: #004bcf;
  --btn-primary-border-color: #004bcf;
  --btn-primary-color: #fafafa;

  --btn-primary-bg-color-hover: #0039a9;
  --btn-primary-border-color-hover: #00329c;
  --btn-primary-color-hover: #fff;

  --selector-bg: #5a5a5a;
  --selector-color: #fafafa;
}
