<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <link rel="icon" href="{{ url_for('static', filename='dist/img/favicon.ico') }}" type="image/x-icon"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link href="{{ url_for('static', filename='dist/css/layout.css') }}" rel="stylesheet" type="text/css">
  {% block head_scripts %}{% endblock %}
  <title>arXiv tagger</title>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark header">
    <a class="navbar-brand d-flex w-50 mr-auto page-title" href="/">arXiv tagger</a>
    {% if current_user.is_authenticated %}
      {# show top menu #}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse w-100" id="navbarText">
        <ul class="navbar-nav w- justify-content-center">
          <li class="nav-item active">
            <a class="nav-link px-3" href="/papers">Papers <i class="fa fa-newspaper-o" aria-hidden="true"></i> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" href="/bookshelf">Bookshelf <i class="fa fa-book" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" href="/settings">Settings <i class="fa fa-cogs" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" href="/about">About <i class="fa fa-info-circle" aria-hidden="true"></i></a>
          </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-25 justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>

    {% else %}
      {# show login form #}
      <form id="login-form" name="f_login" action="/login" onsubmit="return validateLogin()" method="POST">
        <div class="form-row align-items-center">
          <div class="col-auto">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">@</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Email" name="i_login" size="15" required="required" />
            </div>
          </div>
          <div class="col-auto">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-lock"></i></div>
              </div>
              <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="Password" name="i_pass" size="15" required="required" />
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Login</button>
          </div>
        </div>
      </form>
      <a href="/signup" style="font-size: 1rem">Sign up!</a>
    {% endif %}
  </nav>

  {# Alert block #}
  {% for message in get_flashed_messages() %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}

  {% block content %}{% endblock %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='dist/js/main.min.js') }}"></script>

  {% block script_footer %}{% endblock %}
</body>
</html>
