<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <link rel="icon" href="{{ url_for('main_bp.static', filename='dist/img/favicon.ico') }}" type="image/x-icon"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  {% if data['theme'] == 'dark' %}
    <script type="text/javascript" src="{{ url_for('main_bp.static', filename='dist/js/vars_dark.bundle.js') }}?{{ data['version'] }}"></script>
  {% else %}
    <script type="text/javascript" src="{{ url_for('main_bp.static', filename='dist/js/vars.bundle.js') }}?{{ data['version'] }}"></script>
  {% endif %}

  {% if data['sentry'] == 'short' %}
    <script
      src="https://js.sentry-cdn.com/{{ data['sentry_key'] }}.min.js"
      crossorigin="anonymous">
    </script>
    <script type="text/javascript">
      Sentry.onLoad(() => {
        Sentry.init({
          release: "{{ data['version'] }}",
        })});
    </script>
  {% endif %}

  {% if data['sentry'] == 'long' %}
    <script
      src="https://browser.sentry-cdn.com/6.13.2/bundle.min.js"
      integrity="sha384-fcgCrdIqrZ6d6fA8EfCAfdjgN9wXDp0EOkueSo3bKyI3WM4tQCE0pOA/kJoqHYoI"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
      Sentry.init({ dsn: "{{ data['sentry_dsn'] }}",
        release: "{{ data['version'] }}",
        integrations: [new Sentry.Integrations.BrowserTracing()],
        tracesSampleRate: 1.0,
      });
    </script>
  {% endif %}

  <script type="text/javascript">
    __parseTex__ = false;
  </script>
  {% if data.get('math_jax') %}
    <script>
      {#window["MathJax"] = {#}
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          displayMath: [['$$', '$$'], ['\\[', '\\]']],
        },
        svg: {
          fontCache: 'global'
        }
      };
      __parseTex__ = true;
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  {% endif %}

  {% block head_scripts %}{% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark header">
    <a class="navbar-brand d-flex {% if current_user.is_authenticated %} w-50 {% else %} w-25 {% endif %} me-auto page-title ms-4" href="/">ar
        <span id="chi">
          &#120536;
        </span>iv tag</a>
    {% if current_user.is_authenticated %}
      {# show top menu #}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse w-100" id="navbarText">
        <ul class="navbar-nav w- justify-content-center">
          <li class="nav-item">
            <a class="nav-link px-3" id ="papers-nav" href="/paper_land">Papers <i class="fa fa-newspaper-o" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" id ="shelf-nav" href="/bookshelf">Bookshelf <i class="fa fa-book" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" id ="set-nav" href="/settings">Settings <i class="fa fa-cogs" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" id ="about-nav" href="/about">About <i class="fa fa-info-circle" aria-hidden="true"></i></a>
          </li>
        </ul>
        <ul class="nav navbar-nav ms-auto w-25 justify-content-end me-2">
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>

    {% else %}
      {# show login form #}
      <form id="login-form" name="f_login" action="/login" method="POST">
        <div class="form row align-items-end me-2">
          <div class="col-auto">
            <div class="input-group mb-2">
              <div class="input-group-text">@</div>
              <input type="text" class="form-control" placeholder="Email" name="i_login" size="15" required="required" autocomplete="username"/>
            </div>
          </div>
          <div class="col-auto">
            <div class="input-group mb-2">
              <div class="input-group-text"><i class="fa fa-lock"></i></div>
              <input type="password" class="form-control" placeholder="Password" name="i_pass" size="15" required="required" autocomplete="current-password" />
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Login</button>
          </div>
          <div class="col-auto">
            <a class="btn btn-secondary mb-2" href="/signup" role="button">Sign up!</a>
          </div>
        </div>
      </form>
    {% endif %}
  </nav>

  {# Alert block #}
  <div id="alert">
    {% for message in get_flashed_messages() %}
      {% if 'ERROR!' in message %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
      {% endif %}
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
    <div style="padding: 5px;" id="inner-message" class="top-alert">
    </div>
  </div>

  {% block content %}{% endblock %}

  {% if current_user.is_authenticated %}
    <div id="feedback">
      <div id="feedback-form" style='display:none;' class="panel panel-default">
        <form method="POST" action="/feedback" class="form panel-body" role="form">
          <div class="form-group">
            <textarea class="form-control" name="body" required placeholder="Please write your feedback here..." rows="6"></textarea>
          </div>
          <button class="btn btn-primary pull-right" type="submit">Send</button>
        </form>
      </div>
      <div id="feedback-tab">Feedback</div>
    </div>
  {% endif %}

    <div class="footer">
      <p>arXiv Tag source code is available at <a href="https://gitlab.com/suvorov21/arxivtagpy" target="blanl"><i class="fa fa-gitlab" aria-hidden="true"></i>GitLab</a> / <a href="https://github.com/suvorov21/arxivtagpy" target="blanl"><i class="fa fa-github" aria-hidden="true"></i>GitHub</a>. <br />
          Please leave your feedback through the feedback panel,<br/> or with submitting issues at the repos.</p>
    </div>

  {# TODO  do we need his with webpack? #}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% if current_user.is_authenticated %}
      <script type="text/javascript">
          {# TODO put feedback script here for the timebeing #}
           $(function() {
               document.getElementById("feedback-tab").onclick = () => {
                 $("#feedback-form").toggle("slide");
               };

               $("#feedback-form form").on("submit", function(event) {
                 let $form = $(this);
                 $.ajax({
                   type: $form.attr("method"),
                   url: $form.attr("action"),
                 data: $form.serialize(),
                   success: function() {
                     $("#feedback-form").toggle("slide").find("textarea").val("");
                     {# FIXME make the alert back to work #}
                     {#raiseAlert("Thank you for your feedback!", "success");#}
                   }
                 });
                 event.preventDefault();
               });
             });
          </script>
    {% endif %}

  {% block script_footer %}{% endblock %}
</body>
</html>
