<p>Hello!</p>
<p> Your password for the website <a href="http://{{host}}">{{host}}</a> was reset. The new password is provided below.</p>
<p>Please, consider password change immediately after login at the settings page.</p>

<p>New password:<br/>{{pasw}}</p>

<p>Regards, <br/> arXiv tag team.</p>
