<p>Hello!</p>
<p> Your email in the account at the website <a href="http://{{host}}">{{host}}</a> was requested to be changed to <b>{{ new_emal }}</b>.
<p> If it was not you - ignore the message. If you are sure you want to change the email use the link below:</p>
<p><a href="{{ href }}">{{ href }}</a></p>


<p>Regards, <br/> arXiv tag team.</p>
