<p>Hello!</p>
<p><a href="http://{{host}}">arXiv tag</a> created a daily paper feed based on your preferences.</p><br/>

{{papers}}

<p>Regards, <br/> arXiv tag team.</p>

<p style="color: #aaa; margin-top: 5rem">
  To manage your tag email subscriptions visit <a href="http://{{host}}/settings?page=tag">tag settings</a> page. <br/>
  To unsubscribe from ALL the tags visit <a href="http://{{host}}/settings?page=pref">general settings</a>.
</p>
