{% extends "layout.jinja2" %}

{% block head_scripts %}
  <link href="{{ url_for('static', filename='dist/css/layout.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block mess %}
  {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endfor %}
{% endblock %}

{% block script_footer %}
  <script type="text/javascript" src="{{ url_for('static', filename='dist/js/main.min.js') }}"></script>
{% endblock %}