{% extends "layout.jinja2" %}

{% block head_scripts %}
  <link href="{{ url_for('static', filename='dist/css/papers.css') }}" rel="stylesheet" type="text/css">
  <script type="text/javascript">
    var DATA = [];
    var TAGS = {{ tags }};
    var CATS = {{ cats }};
    var parseTex = false;
  </script>

  {% if math_jax %}
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          displayMath: [['$$', '$$'], ['\\[', '\\]']],
        },
        svg: {
          fontCache: 'global'
        }
      };
      parseTex = true;
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row pt-4" class="main-row">
      {# menu replacement for mobile #}
      <div class="d-md-none col-sm-12 mb-3">
        <button type="button" class="btn btn-secondary" id="filter-button">Filters</button>
      </div>

      {# Menu #}
      <div class="col-md-4 col-lg-3 col-xl-2 d-none d-md-block" id="menu-col">
        <div class="menu-content ml-auto" id="menu-main">

          <div class="menu-title" style="margin-top: 5px">Date:</div>
          <div class="menu-item" id="date-today"><a href="/papers?date=today">Today</a></div>
          <div class="menu-item" id="date-week"><a href="/papers?date=week">This week</a></div>
          <div class="menu-item" id="date-month"><a href="/papers?date=month">This month</a></div>
          <br/>
          <div class="menu-item" id="date-last"><a href="/papers?date=last">Since last visit</a></div>


          {% if cats %}
          <div class="menu-title" id="cats-title">Categories</div>
          <div id="cats">
          </div>
          {% endif %}
          <div class="menu-title">Novelty</div>
          <div class="d-flex menu-item">
            <div class="form-check">
              <input type="checkbox" id="check-nov-0" class="form-check-input check-nov" checked/>
              <label id="nov-0" class="form-check-label" for="check-nov-0">New</label>
            </div>
            <div class="ml-auto counter" id="nov-count-0">0</div>
          </div>
          <div class="d-flex menu-item">
            <div class="form-check">
              <input type="checkbox" id="check-nov-1" class="form-check-input check-nov" checked/>
              <label id="nov-1" class="form-check-label" for="check-nov-1">Cross-list</label>
            </div>
            <div class="ml-auto counter" id="nov-count-1">0</div>
          </div>
          <div class="d-flex menu-item">
            <div class="form-check">
              <input type="checkbox" id="check-nov-2" class="form-check-input check-nov" checked/>
              <label id="nov-2" class="form-check-label" for="check-nov-2">Updated</label>
            </div>
            <div class="ml-auto counter" id="nov-count-2">0</div>
          </div>
          <div class="menu-title">Tags:</div>
          <div id="tags">
          </div>
        </div>
      </div>

      {# Paper list #}
      <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
        <div class="paper-wrapper">
          <div id="paper-list-title">
            {{ title }}
          </div>
          <div id="sort-block">
            <span id="passed">0</span>
            <span>&nbsp;results</span>
            <span id="sort-label" class="ml-3">Sort by</span>
            <select class="form-control form-control-sm" id="sort-sel">
              <option value="tag-as">tag (first)</option>
              <option value="tag-des">tag (last)</option>
              <option disabled="disabled">----</option>
              <option value="cat-as">category (first)</option>
              <option value="cat-des">category (last)</option>
              <option disabled="disabled">----</option>
              <option value="nov-des">Novelty (new)</option>
              <option value="nov-as">Novelty (updated)</option>
              <option disabled="disabled">----</option>
              <option value="date-as">date (recent)</option>
              <option value="date-des">date (old)</option>
            </select>
            <span id="sorting-proc" style="float: left;">Sorting...</span>
          </div>
          <div id="paper-list-content">

          </div>

          <div id="loading-papers" class="paper-footer"><i class="fa fa-spinner fa-pulse fa-fw"></i> Loading papers...</div>

          <div id="done-papers" class="paper-footer"><span style="color: #0f0;"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span> You are done with papers!</div>

          <div id="no-paper" style="display: none">No papers suitable with your request.</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script_footer %}
  <script type="text/javascript" src="{{ url_for('static', filename='dist/js/papers.min.js') }}"></script>
  <script type="text/javascript">
    document.getElementById("papers-nav").classList.add("active");
  </script>
{% endblock %}