{% extends "layout.jinja2" %}

{% block head_scripts %}
  <title>arXiv tag. Restore password</title>

  <script type="text/javascript" src="{{ url_for('static', filename='dist/js/papers_style.bundle.js') }}?{{ data['version'] }}"></script>
{% endblock %}

{% block content %}
  <div class="container mt-4">
    <div class="row justify-content-center">
      <form class="col-sm-8" action="/restore_pass?do_send=True" method="POST">
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
          </div>
        </div>
        <button class="btn btn-primary float-right" type="submit">Send new password</button>
      </form>
    </div>
  </div>
{% endblock %}


{% block script_footer %}
  <script type="text/javascript">

  </script>
{% endblock %}