{% extends "layout.jinja2" %}

{% block head_scripts %}
  <title>arXiv tag. Settings</title>
  <script type="text/javascript" src="{{ url_for('settings_bp.static', filename='dist/js/settings_style.bundle.js') }}?{{ data['version'] }}"></script>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row mt-4">
      {# TODO think about removing code duplication #}
      {# Menu #}
      <div class="col-md-4 col-lg-3 col-xl-2 d-none d-md-block" id="menu-col">
        <div class="menu-content ml-auto" id="menu-main">
          <ul class="nav flex-column nav-pills">
            <li class="nav-item">
              <a class="nav-link {{ 'active' if data['page'] == 'cat' else 'none' }}" id="cats-link" href="settings?page=cat">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ 'active' if data['page'] == 'tag' else 'none' }}" id="tags-link" href="settings?page=tag">Tags</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ 'active' if data['page'] == 'bookshelf' else 'none' }}" id="bookshelf-link" href="settings?page=bookshelf">Bookshelf</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ 'active' if data['page'] == 'pref' else 'none' }}" id="pref-link" href="settings?page=pref">Preferences</a>
            </li>
          </ul>
        </div>
      </div>
    {# Mobile friendly menu #}

    <div class="container pb-3 d-md-none">
      <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link {{ 'active' if data['page'] == 'cat' else 'none' }}" id="cats-link" href="settings?page=cat">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if data['page'] == 'tag' else 'none' }}" id="tags-link" href="settings?page=tag">Tags</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if data['page'] == 'bookshelf' else 'none' }}" id="bookshelf-link" href="settings?page=bookshelf">Bookshelf</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if data['page'] == 'pref' else 'none' }}" id="pref-link" href="settings?page=pref">Preferences</a>
          </li>
        </ul>
      </div>

      {# Settings content #}
      <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
        <div class="paper-wrapper">
          <div class="container pt-3">
            {% if data['page'] == 'cat' %}
              <p class="text-secondary">Manage your categories: add, reorder, delete.</p>

              <div id="cats-set">
                <form class="mb-4" id="mod-cat" method="POST">
                  <button class="btn btn-success btn-save disabled">Save</button>
                  <button class="btn btn-secondary btn-save disabled btn-cancel" type="reset">Cancel</button>
                </form>
                <h4>Selected categories:</h4>
                <datalist id="catsDataList"></datalist>
                <div id="cats-list">
                </div>
                <form id="add-cat" name="add-cat" class="pt-4" onsubmit="return false">
                  <label for="cat-add-input">Add new category:</label>
                  <input list="catsDataList" id="cat-add-input" name="cat_name" class="custom-select col-6"/>
                  <button type="submit" class="btn btn-primary" id="add-cat-btn">Add</button>
                </form>
              </div>
            {% endif %}
            {% if data['page'] == 'tag' %}
              <p class="text-secondary">Manage your tags: edit, reorder, setup automatic bookmark and email subscription.</p>
              <div id="tags-set">
                <form class="mb-4" id="mod-tag">
                  <button class="btn btn-success btn-save disabled">Save</button>
                  <button class="btn btn-secondary btn-save disabled btn-cancel" type="reset">Cancel</button>
                  <button class="btn btn-danger disabled" type="reset" id="btn-del">Delete</button>
                </form>
                <div id="tag-list">
                </div>
                <form name="add-tag" class="form-group">
                  <fieldset id="tag-fields" disabled style="margin: 0; padding: 0; border: none">
                    {# TODO consider alert through flash? #}
                    <div class="sub-alert pb-3"></div>
                    <label for="tag-name">Tag name:</label><br/>
                    <input type="text" class="form-control tag-field" id="tag-name" name="tag_name" placeholder="LHC"><br/>
                    <label for="tag-rule">Tag rule</label><br/>
                    <input type="text" class="form-control tag-field" id="tag-rule" name='tag_rule' placeholder="abs{LHC}&au{ATLAS|LHCb|ALICE|CMS}" size=50>
                  </fieldset>
                </form>
              <small class="rule-help form-text text-muted"><i class="fa fa-question" aria-hidden="true"></i>&nbsp;<span id="test-rule">Test the rule</span></small>
              <div id="tag-test" style="display: none">
                <div>Enter imaginary paper details</div>
                <form name="tag-test-form" class="form-group">
                  <fieldset id="tag-test">
                    <input type="text" class="form-control mt-2" name="paper_title" placeholder="Paper title">
                    <input type="text" class="form-control mt-2" name="paper_author" placeholder="Authors">
                    <input type="text" class="form-control mt-2" name="paper_abs" placeholder="Abstract">
                    <button class="btn btn-primary mt-2" id="test-btn">Test</button>
                    <div id="test-result" class="mt-2"></div>
                  </fieldset>
                </form>
              </div>
              <small class="rule-help form-text text-muted"><i class="fa fa-question" aria-hidden="true"></i>&nbsp;<span id="show-rules">Show rules hints</span></small>
              <div id="tag-help">
                <p>
                  Syntaxis:<br/>
                  <code>ti{breakthrough}</code> - for papers with "breakthrough" in title<br/>
                  <code>abs{awesome}</code> - for papers with "awesome" in abstract<br/>
                  <code>cat{hep-ex}</code> - for papers with category "hep-ex" <br/>
                  <code>au{John Doe}</code> - for papers with "John Doe" in author list
                </p>
                <p>
                  Logic operators <code>&</code> and <code>|</code> can be placed inside and outside curly brackets. Parentheses (if any) will be taken into account.<br/>
                  <code>!</code> sign can be placed inside curly brackets to invert the whole rule. <br /><br />
                  Parentheses INSIDE curly brackets will be treated in the RegExp way. If you don't know what it is, please refrain from using ones. <br />

                  Regular expressions can be used inside curly brackets. <br/>
                  $\\LaTeX$ is supported starting with \\\\. E.g. "\\\\chi".<br/>
                  Rules are case insensitive.
                </p>
                <p>
                  Examples:<br />
                  <code>ti{Breakthrough}|au{Nobel Winner} </code><br />
                  <code>ti{quantum}&abs{\\Delta x\\Delta p>\\hbar} </code><br />
                  <code>ti{cellular}&ti{!biology}</code><br />
                  <code>abs{neutrino}&ti{neutrino|\nu}&(ti{breakthrough}|au{Pauli})</code> <br />
                </p>
              </div>
              <small class="rule-help form-text text-muted"><i class="fa fa-question" aria-hidden="true"></i>&nbsp;<span id="show-pubtags">Show users rules examples</span></small>
              {# Table with tags of other users #}

              <div id="loading-tags"><i class="fa fa-spinner fa-pulse fa-fw"></i> Loading tags...</div>
              <div class="table-responsive" style="height: 400px;" id="table-wrapper">
                <small class="form-text text-muted">Click on the row to fill the fields above</small>
                <table class="table table-hover {% if data['theme'] == 'dark' %}table-dark{% endif %}" id="tag-table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">name</th>
                      <th scope="col">rule</th>
                    </tr>
                  </thead>
                  <tbody id="table-body">
                  </tbody>
                </table>
              </div>
              <br/>
              <form name="add-tag2" class="form-group">
                <fieldset id="tag-fields2">
                  <label for="tag-color" >Tag color</label><br/>
                    <input type="color" name="tag_color" id="tag-color" class="tag-field">
                  <div class="form-check mt-4">
                    <input class="form-check-input tag-field" type="checkbox" id="book-check" name="book-check">
                    <label class="form-check-label" for="book-check">Bookmark automatically</label>
                    <small class="form-text text-muted">
                      Papers suitable with this tag will be added automaticaly to bookshelf, so that you can review them later<br>
                      <button type="button" class="btn btn-link" id="btn-book">Fill the bookshelf for the past month</button>
                    </small>
                    <input class="form-check-input tag-field" type="checkbox" id="email-check" name="email-check">
                    <label class="form-check-label" for="email-check">Email notification</label>
                    <small class="form-text text-muted">
                      Recieve email notifications when new papers suitable with this tag are submitted
                    </small>
                    <input class="form-check-input tag-field" type="checkbox" id="public-check" name="public-check">
                    <label class="form-check-label" for="public-check">Publicly available</label>
                    <small class="form-text text-muted">
                      Make the tag visible for other users. It will not be assotiated with your data. Only tag name and rule will be visible and could be used by others.
                    </small>
                  </div>
                </fieldset>
              </form>
            </div>
            {% endif %}
            {% if data['page'] == 'bookshelf' %}
              <p class="text-secondary">Manage paper lists: create new, reorder, delete.</p>
              <form class="mb-4" id="mod-list" method="POST">
                <button class="btn btn-success btn-save disabled">Save</button>
                <button class="btn btn-secondary btn-save disabled btn-cancel" type="reset">Cancel</button>
              </form>
              <h3>Your bookshelf</h3>
              <div id="book-list"></div>
              <form class="mt-3" name="add-book-form" onsubmit="return false">
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <input type="text" class="form-control" id="new-list" name='new-list' placeholder="New list" size=25 required="required">
                  </div>
                  <div class="col-auto">
                    <button type="submit" class="btn btn-primary" id="add-book-btn">Add</button>
                  </div>
                </div>
              </form>

            {% endif %}
            {% if data['page'] == 'pref' %}
              <div id="pref-set">
                <form class="mb-4" id="mod-set" method="POST">
                  <button class="btn btn-success btn-save disabled">Save</button>
                  <button class="btn btn-secondary btn-save disabled btn-cancel" type="reset">Cancel</button>
                </form>
                <h3>Display settings</h3>

                <div class="form-check form-block" action="/mod_pref">
                  <input class="form-check-input" type="checkbox" id="tex-check">
                  <label class="form-check-label" for="tex-check">Render TeX formulas</label>
                  <small class="form-text text-muted">
                    Render TeX formulas may take significant amount of time.
                  </small>
                </div>
                <div class="form-block">
                  <label>Theme:</label>
                  <div class="form-check form-block form-check-inline">
                    <input class="form-check-input" type="radio" name="theme" id="radio-light" value="light">
                    <label class="form-check-label" for="inlineRadio1">Light</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="theme" id="radio-dark" value="dark">
                    <label class="form-check-label" for="inlineRadio2">Dark</label>
                  </div>
                </div>

                <h3>Account settings</h3>
                <h4> Password change</h4>
                <form action="/change_pasw" method="POST" onsubmit="return changePasw()">
                  <div class="form-group row pt-2">
                    <input type="hidden" autocomplete="username">
                    <label for="oldPass" class="col-sm-4 col-form-label">Old password</label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" name="oldPass" size="20" autocomplete="current-password">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="newPass1" class="col-sm-4 col-form-label">New password</label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" name="newPass1" size="20" autocomplete="new-password">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="newPass2" class="col-sm-4 col-form-label">Repeat new password</label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" name="newPass2" size="20" autocomplete="new-password">
                    </div>
                  </div>
                  <button class="btn btn-primary" type="submit">Change password</button>
                </form>
                <h4 class="mt-5">Account control area</h4>
                <form id="email-cancel">
                  <button class="btn btn-warning" type="submit">Unsubscribe from tags emails</button>
                </form>
                <form id="del-acc">
                  <button class="btn btn-danger mt-5" id="deleteAcc" type="submit">Delete account</button>
                </form>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script_footer %}
  {% if 'tags' in data %}
    <script type="text/javascript">__TAGS__ = {{ data['tags'] }};</script>
    <script type="text/javascript" src="{{ url_for('settings_bp.static', filename='dist/js/settings_tag.bundle.js') }}?{{ data['version'] }}"></script>
  {% endif %}

  {% if 'cats' in data %}
      <script type="text/javascript">__CATS__ = {{ data['cats'] }};</script>
      <script type="text/javascript" src="{{ url_for('settings_bp.static', filename='dist/js/settings_cat.bundle.js') }}?{{ data['version'] }}"></script>
  {% endif %}
  {% if 'lists' in data %}
      <script type="text/javascript">__LISTS__ = {{ data['lists'] }};</script>
      <script type="text/javascript" src="{{ url_for('settings_bp.static', filename='dist/js/settings_book.bundle.js') }}?{{ data['version'] }}"></script>
  {% endif %}
  {% if 'pref' in data %}
      <script type="text/javascript">__PREF__ = {{ data['pref'] }};</script>
      <script type="text/javascript" src="{{ url_for('settings_bp.static', filename='dist/js/settings_pref.bundle.js') }}?{{ data['version'] }}"></script>
  {% endif %}
  <script type="text/javascript">
    document.getElementById("set-nav").classList.add("active");
  </script>
{% endblock %}
