{% extends "settings.jinja2" %}

{% block settings_content %}
  <p class="text-secondary">Manage your tags: edit, reorder, setup automatic bookmark and email subscription.</p>
  <div id="tags-set">
    <form class="mb-4" id="mod-tag">
      <button class="btn btn-success btn-save disabled">Save</button>
      <button class="btn btn-secondary btn-save disabled btn-cancel" type="reset">Cancel</button>
      <button class="btn btn-danger disabled" type="reset" id="btn-del">Delete</button>
    </form>
    <div id="tag-list">
    </div>
    <form name="add-tag" class="form-group">
      <fieldset id="tag-fields" disabled style="margin: 0; padding: 0; border: none">
        <div class="sub-alert pb-3"></div>
        <label for="tag-name">Tag name:</label><br/>
        <input type="text" class="form-control tag-field" id="tag-name" name="tag_name" placeholder="LHC"><br/>
        <label for="tag-rule">Tag rule</label><br/>
        <input type="text" class="form-control tag-field" id="tag-rule" name='tag_rule'
               placeholder="abs{LHC}&au{ATLAS|LHCb|ALICE|CMS}" size=50>
      </fieldset>
    </form>
    <div class="rule-help form-text"><i class="fa fa-question" aria-hidden="true"></i>&nbsp;<span id="test-rule">Test the rule</span>
    </div>
    <div id="tag-test" style="display: none">
      <div>Enter imaginary paper details</div>
      <form name="tag-test-form" class="form-group">
        <fieldset id="tag-test">
          <input type="text" class="form-control mt-2" name="paper_title" placeholder="Paper title">
          <input type="text" class="form-control mt-2" name="paper_author" placeholder="Authors">
          <input type="text" class="form-control mt-2" name="paper_abs" placeholder="Abstract">
          <button class="btn btn-primary mt-2" id="test-btn">Test</button>
          <div id="test-result" class="mt-2"></div>
        </fieldset>
      </form>
    </div>
    <div class="rule-help form-text"><i class="fa fa-question" aria-hidden="true"></i>&nbsp;<span id="show-rules">Show rules hints</span>
    </div>
    <div id="tag-help">
      <p>
        Syntaxis:<br/>
        <code>ti{breakthrough}</code> - for papers with "breakthrough" in title<br/>
        <code>abs{awesome}</code> - for papers with "awesome" in abstract<br/>
        <code>cat{hep-ex}</code> - for papers with category "hep-ex" <br/>
        <code>au{John Doe}</code> - for papers with "John Doe" in author list
      </p>
      <p>
        Logic operators <code>&</code> and <code>|</code> can be placed inside and outside curly brackets. Parentheses
        (if any) will be taken into account.<br/>
        <code>!</code> sign can be placed inside curly brackets to invert the whole rule. <br/><br/>
        Parentheses INSIDE curly brackets will be treated in the RegExp way. If you don't know what it is, please
        refrain from using ones. <br/>

        Regular expressions can be used inside curly brackets. <br/>
        $\\LaTeX$ is supported starting with \\\\. E.g. "\\\\chi".<br/>
        Rules are case insensitive.
      </p>
      <p>
        Examples:<br/>
        <code>ti{Breakthrough}|au{Nobel Winner} </code><br/>
        <code>ti{quantum}&abs{\\Delta x\\Delta p>\\hbar} </code><br/>
        <code>ti{cellular}&ti{!biology}</code><br/>
        <code>abs{neutrino}&ti{neutrino|\nu}&(ti{breakthrough}|au{Pauli})</code> <br/>
      </p>
    </div>
    <div class="rule-help form-text"><i class="fa fa-question" aria-hidden="true"></i>&nbsp;<span id="show-pubtags">Show users rules examples</span>
    </div>
    {# Table with tags of other users #}

    <div id="loading-tags"><i class="fa fa-spinner fa-pulse fa-fw"></i> Loading tags...</div>
    <div class="table-responsive" style="height: 400px;" id="table-wrapper">
      <small class="form-text text-muted">Click on the row to fill the fields above</small>
      <table class="table table-hover {% if data['theme'] == 'dark' %}table-dark{% endif %}" id="tag-table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">name</th>
          <th scope="col">rule</th>
        </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
      </table>
    </div>
    <br/>
    <form name="add-tag2" class="form-group">
      <fieldset id="tag-fields2">
        <label for="tag-color">Tag color</label><br/>
        <input type="color" name="tag_color" id="tag-color" class="tag-field form-control form-control-color">
        <div class="form-check mt-4">
          <input class="form-check-input tag-field" type="checkbox" id="book-check" name="book-check">
          <label class="form-check-label" for="book-check">Bookmark automatically</label>
          <div class="form-text">
            Papers suitable with this tag will be added automaticaly to bookshelf, so that you can review them later<br>
            <button type="button" class="btn btn-link" id="btn-book">Fill the bookshelf for the past month</button>
          </div>
        </div>
        <div class="form-check">
          {% if not data['verified_email'] %}
            <input class="form-check-input tag-field" type="checkbox" id="email-check" name="email-check" disabled>
          {% else %}
            <input class="form-check-input tag-field" type="checkbox" id="email-check" name="email-check">
          {% endif %}
          <label class="form-check-label" for="email-check">Email notification</label>
          <div class="form-text">
            Recieve email notifications when new papers suitable with this tag are submitted
            {% if not data['verified_email'] %}
              <br><span class="sub-alert shade">Verify your email to use this option.</span>
            {% endif %}
          </div>
        </div>
        <div class="form-check">
          <input class="form-check-input tag-field" type="checkbox" id="rss-check" name="rss-check">
          <label class="form-check-label" for="public-check">Include in RSS</label>
          <div class="form-text">
            Papers sutable with this tag will be included in your RSS feed. Check <a href="/settings?page=pref">Preference
            page</a> for RSS link.
          </div>
        </div>
        <div class="form-check">
          <input class="form-check-input tag-field" type="checkbox" id="public-check" name="public-check">
          <label class="form-check-label" for="public-check">Publicly available</label>
          <div class="form-text">
            Make the tag visible for other users. It will not be assotiated with your data. Only tag name and rule will
            be visible and could be used by others.
          </div>
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}

{% block script_footer %}
  <script type="text/javascript">__TAGS__ = {{ data['tags'] }};</script>
  <script type="text/javascript" src="{{ url_for('settings_bp.static', filename='dist/js/settings_tag.bundle.js') }}?{{ data['version'] }}"></script>
{% endblock %}