{% extends "layout.jinja2" %}

{% block head_scripts %}
  <link href="{{ url_for('static', filename='dist/css/settings.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='dist/css/wheelcolorpicker.css') }}" rel="stylesheet" type="text/css">
  <script type="text/javascript">
    var TAGS = {{ tags }};
    var CATS = {{ cats }};
    var PREF = {{ pref }};
    var parseTex = false;
  </script>

  {% if math_jax %}
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          displayMath: [['$$', '$$'], ['\\[', '\\]']],
        },
        svg: {
          fontCache: 'global'
        }
      };
      parseTex = true;
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  {% endif %}

{% endblock %}

{% block content %}
  <div class="container-fluid" id="main-container">
    <div class="row mt-4">
      {# Menu #}
      <div class="col-md-4 col-lg-3 col-xl-2 d-none d-md-block" id="menu-col">
        <div class="menu-content ml-auto" id="menu-main">

          <ul class="nav flex-column nav-pills">
            <li class="nav-item">
              <a class="nav-link {{ 'active' if page == 'cat' else 'none' }}" id="cats-link" href="settings?page=cat">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ 'active' if page == 'tag' else 'none' }}" id="tags-link" href="settings?page=tag">Tags</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ 'active' if page == 'pref' else 'none' }}" id="pref-link" href="settings?page=pref">Preferences</a>
            </li>
          </ul>
        </div>
      </div>
      {# Settings content #}
      <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
        <div class="paper-wrapper">
          <div class="container pt-3">
            {% if page == 'cat' %}
              <div id="cats-set">
                <form class="mb-4" id="mod-cat" action="/mod_cat" method="POST" onsubmit="return fillCatForm()">
                  <button class="btn btn-success btn-save disabled" type="submit">Save</button>
                  <button class="btn btn-secondary btn-save disabled btn-cancel" type="reset">Cancel</button>
                </form>

                <datalist id="catsDataList"></datalist>
                {# <h2>Your categories:</h2> #}
                <div id="cats-list">
                </div>
                <form id="add-cat" name="add-cat" class="pt-4" onsubmit="return false">
                  <label for="cat-add-input">Add new category:</label>
                  <input list="catsDataList" id="cat-add-input" name="cat_name" class="custom-select col-6"/>
                  <button type="submit" class="btn btn-primary" id="add-cat-btn">Add</button>
                </form>
              </div>
            {% endif %}
            {% if page == 'tag' %}
              <div id="tags-set">
                <form class="mb-4" id="mod-tag" onsubmit="return fillTagForm()">
                  <button class="btn btn-success btn-save disabled">Save</button>
                  <button class="btn btn-secondary btn-save disabled btn-cancel" type="reset">Cancel</button>
                  <button class="btn btn-danger disabled" type="reset" id="btn-del">Delete</button>
                </form>
                {# <h2>Your tags:</h2> #}
                <div id="tag-list">
                </div>
                <form name="add-tag" class="form-group">
                  <fieldset id="tag-fields" disabled style="margin: 0; padding: 0; border: none">
                    <label for="tag-name">Tag name:</label></br>
                    <input type="text" class="form-control tag-field" id="tag-name" name="tag_name" placeholder="LHC"><br/>
                    <label for="tag-rule">Tag rule</label><br/>
                    <input type="text" class="form-control tag-field" id="tag-rule" name='tag_rule' placeholder="abs{LHC}&au{ATLAS|LHCb|ALICE|CMS}" size=50>
                    <small id="ruleHelp" class="form-text text-muted"><span id="show-rules">Show rules hints</span></small>
                    <br/>
                    <div id="tag-help">
                      <p>The following rules or their combinations can be used:<br/>
                      <code>ti{breakthrough}</code> - for papers with "breakthrough" in title<br/>
                      <code>abs{awesome}</code> - for papers with "awesome" in abstract<br/>
                      <code>au{John Doe}</code> - for papers with "John Doe" in author list</p>
                      <p>Logic operators <code>&</code> and <code>|</code> can be placed inside and outside curly brackets. <br/>Regular expressions can be used inside curly brackets. <br/>$\\LaTeX$ is supported.<br/>Rules are case insensitive.<br/><br/>
                      Example: <code>abs{neutrino}&ti{neutrino|\nu}&(ti{breakthrough}|au{Pauli})</code></p><br/><br/>
                    </div>
                    <label for="tag-color" >Tag color</label><br/>
                    <input type="text" class="form-control tag-field" name="tag_color" id="tag-color" placeholder="#ff0000" data-wheelcolorpicker data-wcp-format="css" size="15"><br/>
                    <label for="tag_order">Enter tag order</label><br/>
                    <input type="text" class="form-control tag-field" size="15" name="tag_order" placeholder="1"><br/><br/>
                    {# TODO consider alert through flash? #}
                    <div style="color: #f00" class="cat-alert"></div>
                  </fieldset>
                </form>

              </div>
            {% endif %}
            {% if page == 'pref' %}
              <div id="pref-set">
                <form class="mb-4" id="mod-set" method="POST" onsubmit="return fillSetForm()">
                  <button class="btn btn-success btn-save disabled">Save</button>
                  <button class="btn btn-secondary btn-save disabled btn-cancel">Cancel</button>
                </form>
                <h3>Display settings</h3>

                <div class="form-check form-block" action="/mod_pref">
                  <input class="form-check-input" type="checkbox" id="tex-check">
                  <label class="form-check-label" for="tex-check">Render TeX formulas</label>
                  <small class="form-text text-muted">
                    Render TeX formulas may take significant amount of time.
                  </small>
                  <input class="form-check-input" type="checkbox" id="and-check">
                  <label class="form-check-label" for="and-check">Easy logic AND in tag rule</label>
                  <small class="form-text text-muted">
                    By default the simple tag rule with logic AND <code>{a&b}</code> is replaced with a proper REGEX expression <code>(a.*b)|(b.*a)</code>.<br/> If you want to have full control over the rule REGEX - disable this option.
                  </small>
                </div>

                <h3>Account settings</h3>
              </div>
            {% endif %}
          </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block script_footer %}
  <script type="text/javascript" src="{{ url_for('static', filename='dist/js/settings.min.js') }}"></script>
  <script type="text/javascript">
    document.getElementById("set-nav").classList.add("active");
  </script>
{% endblock %}
