{% extends "layout.jinja2" %}

{% block head_scripts %}
  <title>arXiv tag. Settings</title>
  <script type="text/javascript" src="{{ url_for('settings_bp.static', filename='dist/js/settings_style.bundle.js') }}?{{ data['version'] }}"></script>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row mt-4">
      {# Menu #}
      <div class="col-md-4 col-lg-3 col-xl-2 d-none d-md-block" id="menu-col">
        <div class="menu-content ms-auto" id="menu-main">
          <ul class="nav flex-column nav-pills">
            <li class="nav-item">
              <a class="nav-link" id="cats-link" href="/settings/cat">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="tags-link" href="/settings/tag">Tags</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="bookshelf-link" href="/settings/bookshelf">Bookshelf</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pref-link" href="/settings/pref">Preferences</a>
            </li>
          </ul>
        </div>
      </div>
      {# Mobile friendly menu #}

      <div class="container pb-3 d-md-none">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" id="cats-link" href="settings/cat">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="tags-link" href="settings/tag">Tags</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="bookshelf-link" href="settings/book">Bookshelf</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pref-link" href="settings/pref">Preferences</a>
          </li>
        </ul>
      </div>

      {# Settings content #}

      <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
        <div class="paper-wrapper">
          <div class="container pt-3 ps-5">
            {% block settings_content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>

{#  Modal confirmation #}
  <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmModalLabel">Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-text">
          Settings will not be saved, continue?
        </div>
        <form class="modal-footer" id="form-confirm" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" id="btn-confirm">Continue</button>
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript">
      document.getElementById("set-nav").classList.add("active");
  </script>
{% endblock %}
